In [38]:
import numpy as np
import pandas as pd 
import plotly.express as px
import plotly.graph_objects as go

studentTable = {"Subjects":["Chemistry", "Pre-Calculus", "Physics 2", "Basic Calculus", "Biology 2"], "Performance": np.random.randint(75,100, size=5)}

studentData = pd.DataFrame(studentTable)
studentData

         Subjects  Performance
0       Chemistry           93
1    Pre-Calculus           25
2       Physics 2           32
3  Basic Calculus           64
4       Biology 2           90

In [39]:
studentData = studentData.set_index("Subjects")
studentData.to_csv('studentData.csv')
studentData

                Performance
Subjects
Chemistry                93
Pre-Calculus             25
Physics 2                32
Basic Calculus           64
Biology 2                90