In [2]:
import numpy as np
import pandas as pd 

studentTable = {"studentNumber": np.arange(1,10,1),"subject_1": np.arange(1,10,1)}
studentData = pd.DataFrame(studentTable)
studentData

   studentNumber  subject_1
0              1          1
1              2          2
2              3          3
3              4          4
4              5          5
5              6          6
6              7          7
7              8          8
8              9          9

In [7]:
studentData.index = np.arange(1, len(studentData) + 1)
studentData
studentData.loc[1]

   studentNumber  subject_1
1              1          1
2              2          2
3              3          3
4              4          4
5              5          5
6              6          6
7              7          7
8              8          8
9              9          9

In [8]:
studentData.to_csv("studentData.csv", index=False)
studentData

   studentNumber  subject_1
1              1          1
2              2          2
3              3          3
4              4          4
5              5          5
6              6          6
7              7          7
8              8          8
9              9          9