In [25]:
import numpy as np
import pandas as pd 
import plotly.express as px
import plotly.graph_objects as go

studentTable = {"Subjects":["Chemistry", "Pre-Calculus", "Physics 2", "Basic Calculus", "Biology 2"]}
studentTable = {"Subjects":["Chemistry", "Pre-Calculus", "Physics 2", "Basic Calculus", "Biology 2"], "Performance": np.random.randint(0,100, size=len(studentTable["Subjects"]))}

studentData = pd.DataFrame(studentTable)
studentData

         Subjects  Performance
0       Chemistry           69
1    Pre-Calculus           95
2       Physics 2           24
3  Basic Calculus           94
4       Biology 2           22

In [27]:
studentData = studentData.set_index("Subjects")

KeyboardInterrupt

In [28]:
studentData.to_csv("studentData.csv", index=True)
studentData

                Performance
Subjects
Chemistry                69
Pre-Calculus             95
Physics 2                24
Basic Calculus           94
Biology 2                22