In [17]:
# Create a Data List of Students
import numpy as np
import pandas as pd 

studentTable = {"Student_Email": ["jbvaldez3@student.apc.edu.ph", "sacamama@student.apc.edu.ph", "mbchavez2@student.apc.edu.ph"], "Student_Password": ["jasper", "shan", "max"], "Student_Names": ["Jasper Valdez", "Shanteiy Camaama", "Max Benedict Chavez"], "Strand": ["STEM", "STEM", "STEM"], "Section": ["STEM213", "STEM212", "STEM211"], "Student_Data": ["studentData_jasper.csv","studentData_shan.csv", "studentData_max.csv"] }

studentList = pd.DataFrame(studentTable)
studentList.to_csv("studentList.csv")
studentList

,Student_Email,Student_Password,Student_Names,Strand,Section
0,jbvaldez3@student.apc.edu.ph,jasper,Jasper Valdez,STEM,STEM213
1,sacamama@student.apc.edu.ph,shan,Shanteiy Camaama,STEM,STEM212
2,mbchavez2@student.apc.edu.ph,max,Max Benedict Chavez,STEM,STEM211