In [15]:
import numpy as np
import pandas as pd 
import plotly.express as px
import plotly.graph_objects as go

studentTable = {"Subjects":["Chemistry", "Pre-Calculus", "Physics 2", "Basic Calculus", "Biology 2"]}
studentTable = {"Subjects":["Chemistry", "Pre-Calculus", "Physics 2", "Basic Calculus", "Biology 2"], "Performance": np.random.randint(0,100, size=len(studentTable["Subjects"]))}

studentData = pd.DataFrame(studentTable)
studentData

         Subjects  Performance
0       Chemistry           90
1    Pre-Calculus           76
2       Physics 2           44
3  Basic Calculus           63
4       Biology 2           81

In [22]:
studentData.to_csv("studentData.csv", index=False)
studentData

         Subjects  Performance
0       Chemistry           90
1    Pre-Calculus           76
2       Physics 2           44
3  Basic Calculus           63
4       Biology 2           81